<?xml version="1.0"?>
<robot name="GenericTwoMotors_qbhand_chain" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find generictwomotors_description)/urdf/GenericTwoMotors.utils.xacro" ns="generictwomotors"/>
  <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.utils.xacro"/>

  <link name="root_link"/>
  <xacro:generictwomotors.build_move_from_yaml namespace="GenericTwoMotors11" parent="root">
    <origin xyz="0.033 0 0.033" rpy="0 -1.57 0"/>
  </xacro:generictwomotors.build_move_from_yaml>

  <joint name="root2_fixed_joint" type="fixed">
    <origin xyz="0.2 0 0" rpy="0 0 0"/>
    <parent link="root_link"/>
    <child link="root2_link"/>
  </joint>
  <link name="root2_link"/>
  <xacro:build_hand_from_yaml configuration="qbhand_right" namespace="hand1" parent="root2">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:build_hand_from_yaml>
  

</robot>